@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Lato&display=swap");

:root {
    --base-color: 0, 38, 71;
    --alt-color: 240, 255, 255;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
    background: fixed no-repeat
        linear-gradient(
            rgba(var(--base-color), 0.8) 0%,
            rgba(var(--base-color), 0.4) 100%
        );
    color: azure;
    font-family: "Nunito Sans", "Lato", sans-serif;
}

header {
    position: sticky;
    top: 0;
    background: linear-gradient(
        rgba(var(--base-color), 0.8) 0%,
        rgba(var(--base-color), 0.4) 100%
    );
    width: 100%;

    margin-bottom: 1.15rem;
    text-align: center;
}

nav {
    display: flex;
    justify-content: flex-end;
    margin: 2rem;
}

nav a {
    flex: 1 0 0;
    text-decoration: none;
    color: azure;
    margin: 0.8rem 1rem;
    max-width: 100%;
    border-bottom: 0.2rem solid transparent;
    border-bottom: 0.2rem solid rgba(0, 0, 0, 0);
}

nav a:hover {
    border-bottom: 0.2rem solid rgb(240, 255, 255, 1);
}

section {
    width: 100%;
    margin: 0 auto;
}

section h2 {
    text-align: center;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem;
}

.projects .card {
    margin: 1rem;
}

.projects .card img {
    border: 0.3rem solid azure;
    border-radius: 0.8rem;
    width: 100%;
}

.contact-form {
    margin: 0 auto;
    width: 75vw;
}

.contact-form > input,
.contact-form > textarea {
    width: 100%;
}

.contact-form textarea {
    resize: none;
    height: 10rem;
}

footer {
    position: sticky;
    background: linear-gradient(
        rgba(var(--base-color), 0.5),
        rgba(var(--base-color), 1)
    );
    width: 100%;
    padding-top: 0.3rem;
    margin-top: 0.8rem;
    height: 7vh;
    bottom: 0rem;
    text-align: center;
}
